# LangChain Core
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

sentence-transformers

# Streamlit
streamlit

# For pydantic prompt validation and output parser
pydantic
pydantic[email]

# StructuredOutputParser -- optional
langchain-classic

# to get ascii art of a chain  -- optional
# gradalf

# For RAG 
# langchain-community

# For loading pdf
pypdf
